

<header class="d-flex flex-wrap justify-content-center py-3 mb-2 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="/static/img/montreallogo.svg" alt="City of Montreal" title="City of Montreal" class="bi me-2 m-2" width="180" >
        <div class="vr m-3" style="color:black; padding: 0.75px;" ></div>
              <h1 class="h1">Inscription aux Notifications</h1>
      </a>
  </header>
  <div class="mb-2 p-2">
    <a href="/about" class="btn btn-outline-dark">About us</a>
    <a href="https://github.com/jeankhoury0/hackatown2022" target="_blank" rel="noopener noreferrer" class="btn btn-outline-dark">Github </a>
  </div>
  
  
