<div>
  
  <input type="checkbox" class="btn-check" id="btntrash" autocomplete="off" value="{{ request.form['garbage'] }}" >
  <label class="btn btn-outline-primary" for="btntrash"> Poubelle
  <img src="/static/img/icons/trash-solid.svg" alt="" class="img ">
  </label>

  <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
  <label class="btn btn-outline-primary" for="btncheck2">Recyclage</label>
    <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
  <label class="btn btn-outline-primary" for="btncheck3">Organique</label>
</div>